@mixin base() {  
    font-size: 1.125rem;
    margin: 0;
    padding: 0;
    flex: 1 1 100%;
    display: flex;
    align-items: flex-end;

    @media screen and(min-width: 640px) {
        flex: 1 1 auto;
    }
}

&__item {
    @include base;
}